APP_ENV=dev
APP_SECRET=change-me
DEFAULT_URI=http://localhost:8282

DATABASE_URL="postgresql://app:!ChangeMe!@databasei:5432/app?serverVersion=16&charset=utf8"
MAILER_DSN="smtp://username:password@smtp.example.com:587?encryption=tls&auth_mode=login"

POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!

SMTP_LOGIN=
SMTP_PASS=
BREVO_KEY=
